div .addInputContainer {
    float: right;
}

.addMainInput {
    transition: all .2s ease-in;
    padding: 3px;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(184, 184, 184);
}

.addMainInput:focus {
    outline: none;
    border-color: black;
}

#bar {
    position: relative;
    height: 7px;
    width: 0%;
    background-color: #0077FF;
    transition: width 0.5s, background-color 0.25s;
    -moz-transition: width 0.5s, background-color 0.25s;
    -webkit-transition: width 0.5s, background-color 0.25s;
}